@font-face {
  font-family: 'ProximaNova';
  src: url('./proxima-nova/MarkSimonson-ProximaNovaBold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./proxima-nova/MarkSimonson-ProximaNovaRegular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./proxima-nova/FontsFree-Net-Proxima-Nova.ttf') format('truetype');
  font-weight: semiBold;
}
